.random-movie-button {
    position: fixed; /* Fixed/sticky position */
    bottom: 12.5px; /* Place the button 12.5px from the bottom of the page */
    right: 12.5px; /* Place the button 12.5px from the right */
    z-index: 99; /* Make sure it does not overlap */
}
